apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: project
  name: todo-backend-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      containers:
        - name: todo-backend
          image: IMAGES/BACKEND
          imagePullPolicy: Always
          env:
            - name: IP
              value: 0.0.0.0
            - name: PORT
              value: "3000"
            - name: DATABASE_URL
              value: postgres://postgres:password@postgres-svc

          resources:
            limits:
              cpu: 500m
              memory: 20Mi

            requests:
              cpu: 100m
              memory: 5Mi

          readinessProbe:
            initialDelaySeconds: 10
            periodSeconds: 5
            httpGet:
              path: /healthz
              port: 3000

          livenessProbe:
            initialDelaySeconds: 10
            periodSeconds: 5
            httpGet:
              path: /healthz
              port: 3000
