apiVersion: apps/v1
kind: Deployment
metadata:
  name: pingpong-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pingpong
  template:
    metadata:
      labels:
        app: pingpong
    spec:
      volumes:
        - name: shared-data
          persistentVolumeClaim:
            claimName: pvc-100m
      containers:
        - name: pingpong
          image: tomjtoth/devops-with-kubernetes:pingpong-1.11
          volumeMounts:
            - name: shared-data
              mountPath: /app/data
