apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: exercises
  name: pingpong-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pingpong
  template:
    metadata:
      labels:
        app: pingpong
    spec:
      containers:
        - name: pingpong
          image: tomjtoth/devops-with-kubernetes:pingpong-3.4
          env:
            - name: IP
              value: 0.0.0.0
            - name: PORT
              value: "3000"
            - name: DATABASE_URL
              value: postgres://postgres:password@postgres-svc
