apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: project
  name: todo-backend-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      containers:
        - name: todo-backend
          image: tomjtoth/devops-with-kubernetes:todo-backend-2.6
          imagePullPolicy: Always
          env:
            - name: IP
              value: 0.0.0.0
            - name: PORT
              value: "3000"
