apiVersion: v1
kind: Service
metadata:
  namespace: project
  name: postgres-svc
  labels:
    app: postgres
spec:
  ports:
    - port: 5432
      name: pg
  clusterIP: None
  selector:
    app: postgres-app
