apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - manifests/namespace.yml
  - manifests/pvc.yml

  - manifests/postgres/service.yml
  - manifests/postgres/statefulSet.yml

  - manifests/pingpong/deployment.yml
  - manifests/pingpong/service.yml

  - manifests/configMap.yml
  - manifests/deployment.yml
  - manifests/service.yml
  - manifests/gateway.gke.yml
  - manifests/route.gke.yml
