name: CD

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    if: contains(github.event.head_commit.message, '#deploy')
    name: Generate Docker image
    runs-on: ubuntu-latest

    steps:
      - name: Get tag
        run: |
          TAG=$(grep -Po '#deploy *\K\d+\.\d+' <<< "${{ github.event.head_commit.message }}")
          [ -z "$TAG" ] && exit 1
          echo "TAG=$TAG" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/arm64, linux/amd64
          push: true
          tags: tomjtoth/devops-with-kubernetes:${{ env.TAG }}
          cache-from: type=gha,scope=shared
          cache-to: type=gha,mode=max,scope=shared
